<a href="https://colab.research.google.com/github/HumayDS/Big-data-analysis/blob/main/data_preprocessing_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns
import pandas as pd
df = sns.load_dataset('titanic')
print(df.isnull().sum())
print(df.info())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

In [ ]:
print(df['survived'].value_counts(normalize = True)) # Category
print(df['pclass'].value_counts()) # Category ordered
print(df['sex'].value_counts())  #Category
print(df['age'].value_counts()) #numeric int
print(df['sibsp'].value_counts()) #category
print(df['parch'].value_counts()) #category
print(df['fare'].value_counts()) #category
print(df['class'].value_counts())#category
print(df['who'].value_counts()) #category
print(df['adult_male'].value_counts()) #bool
print(df['embark_town'].value_counts()) #category
print(df['alive'].value_counts()) #Category
print(df['alone'].value_counts())#bool
print(df['embarked'].value_counts(normalize = True))
print(df.isnull().sum())

In [ ]:
  #data tiplerini deyish
  df['survived'] = df['survived'].astype('category')
  df['pclass'] = df['pclass'].astype('category')
  df['sex'] = df['sex'].astype('category')
  df['sibsp'] = df['sibsp'].astype('category')
  df['parch'] = df['parch'].astype('category')
  df['who'] = df['who'].astype('category')
  df['embark_town'] = df['embark_town'].astype('category')
  df['alive'] = df['alive'].astype('category')
  df['embarked'] = df['embarked'].astype('category')
  df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    category
 1   pclass       891 non-null    category
 2   sex          891 non-null    category
 3   age          891 non-null    float64
 4   sibsp        891 non-null    category
 5   parch        891 non-null    category
 6   fare         891 non-null    float64
 7   embarked     891 non-null    category
 8   class        891 non-null    object
 9   who          891 non-null    category
 10  adult_male   891 non-null    bool
 11  embark_town  891 non-null    category
 12  alive        891 non-null    category
 13  alone        891 non-null    bool
dtypes: bool(2), category(9), float64(2), object(1)
memory usage: 32.2+ KB

In [ ]:
df.describe().T

      count       mean        std   min      25%      50%   75%       max
age   714.0  29.699118  14.526497  0.42  20.1250  28.0000  38.0   80.0000
fare  891.0  32.204208  49.693429  0.00   7.9104  14.4542  31.0  512.3292

In [ ]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
cat_cols = df.select_dtypes(include=["category"]).columns.tolist()
num_cols = df.select_dtypes(include=["int","float"]).columns.tolist()

In [ ]:
from sklearn.impute import SimpleImputer
imputer1 = SimpleImputer(strategy="most_frequent")     ##To fill Categorical Features.
imputer2 = SimpleImputer(strategy="median")

In [ ]:
def fill_missingno(df):
    df[cat_cols] = imputer1.fit_transform(df[cat_cols])
    df[num_cols] = imputer2.fit_transform(df[num_cols])

In [ ]:
fill_missingno(df)

In [ ]:
df.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [ ]:
print("Cardinality of features in numerical data is: ")
print(df.select_dtypes(include=["int","float"]).nunique())
print("\n","-"*50)
print("\nCardinality of features in categorical data is: ")
print(df.select_dtypes(include=["category"]).nunique())

Cardinality of features in numerical data is:
age      88
fare    248
dtype: int64

 --------------------------------------------------

Cardinality of features in categorical data is:
survived       2
pclass         3
sex            2
sibsp          7
parch          7
embarked       3
who            3
embark_town    3
alive          2
dtype: int64

In [ ]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True